<div class="md-panel md-whiteframe-2dp" layout="column">
    <!-- Toolbar -->
    <md-toolbar class="md-panel-toolbar">
        <div class="md-toolbar-tools">
            <h3>Example</h3>
            <span flex=""></span>
            <md-button class="md-icon-button" ng-click="showSource = !showSource">
                <md-tooltip md-direction="left">
                    View code
                </md-tooltip>
                <i class="fa fa-code i-24"></i>
            </md-button>
        </div>
    </md-toolbar>
    <!-- Tabs -->
    <md-tabs md-dynamic-height ng-show="showSource">
        <!-- home.html -->
        <md-tab label="home.html">
            <md-content>
                <hljs lang="html">
                    
<!-- NotificacionBundle/Resources/public/adminApp/views/home.html -->

<!-- Load variable 'message' from 'notificacionHomeCtrl' controller -->
<div class="">
    <h3>{{ message }}</h3>
</div>

<!-- Apply 'notificacionHomeFilter' filter to 'message' variable-->
<div class="">
    <h2>Filter example:</h2>

    <h3>{{ message|notificacionHomeFilter}}</h3>
</div>

<!-- Using directive 'notificacionHomeDirective' -->
<div class="">
    <h2>Directive example:</h2>

    <h3 notificacion-home-directive="">{{ message|notificacionHomeFilter}}</h3>
</div>
                </hljs>
            </md-content>
        </md-tab>
        <!-- notificacion.home.ctrl.js -->
        <md-tab label="notificacion.home.ctrl.js">
            <md-content>
                <hljs lang="javascript">
                    
/**
 * NotificacionBundle/Resources/public/adminApp/controllers/notificacionHomeCtrl.js
 */
angular.module('app')
        .controller('notificacionHomeCtrl',
                ['$scope', 'notificacionHomeSvc',
                    function ($scope, notificacionHomeSvc) {

                        $scope.showSource = false;
                        notificacionHomeSvc.setMessage('Welcome to the NotificacionBundle example configuration.');
                        $scope.message = notificacionHomeSvc.getMessage();

                    }
                ]
        );
                </hljs>
            </md-content>
        </md-tab>
        <!-- notificacion.home.directive.js -->
        <md-tab label="notificacion.home.directive.js">
            <md-content>
                <hljs lang="javascript">
                    
/**
 * NotificacionBundle/Resources/public/adminApp/directives/notificacionHomeDirective.js
 */
angular.module('app')
        .directive('notificacionHomeDirective',
                function () {
                    return {
                        restrict: 'A',
                        link: function ($scope, element, attrs) {
                            element.bind('mouseenter', function () {
                                element.css('background-color', 'yellow');
                                element.css('color', 'red');
                            });
                            element.bind('mouseleave', function () {
                                element.css('background-color', 'white');
                                element.css('color', 'black');
                            });
                        }
                    }
                }
        );
                </hljs>
            </md-content>
        </md-tab>
        <!-- notificacion.home.filter.js -->
        <md-tab label="notificacion.home.filter.js">
            <md-content>
                <hljs lang="javascript">
                    
/**
 * NotificacionBundle/Resources/public/adminApp/filters/notificacionHomeFilter.js
 */
angular.module('app')
        .filter('notificacionHomeFilter',
                function () {
                    return function (input) {
                        input = input || '';
                        var out = "";
                        for (var i = 0; i < input.length; i++) {
                            out = input.charAt(i) + out;
                        }
                        return out;
                    }
                }
        );
                </hljs>
            </md-content>
        </md-tab>
        <!-- notificacion.home.svc.js -->
        <md-tab label="notificacion.home.svc.js">
            <md-content>
                <hljs lang="javascript">
                    
/**
 * NotificacionBundle/Resources/public/adminApp/services/notificacionHomeSvc.js
 */
angular.module('app')
        .service('notificacionHomeSvc', [
                    function () {
                        var message = '';

                        function setMessage(newMessage) {
                            message = newMessage;
                        }

                        function getMessage() {
                            return message;
                        }

                        return {
                            setMessage: setMessage,
                            getMessage: getMessage,
                            $get: function () {

                            }
                        }
                    }
                ]
        );
                </hljs>
            </md-content>
        </md-tab>
    </md-tabs>
    <div layout="column" style="background: white; padding: 0 16px">
        
<!-- NotificacionBundle/Resources/public/adminApp/views/home.html -->

<!-- Load variable 'message' from 'notificacionHomeCtrl' controller -->
<div class="">
    <h3>{{ message }}</h3>
</div>

<!-- Apply 'notificacionHomeFilter' filter to 'message' variable-->
<div class="">
    <h2>Filter example:</h2>

    <h3>{{ message|notificacionHomeFilter}}</h3>
</div>

<!-- Using directive 'notificacionHomeDirective' -->
<div class="">
    <h2>Directive example:</h2>

    <h3 notificacion-home-directive="">{{ message|notificacionHomeFilter}}</h3>
</div>
    </div>
</div>

