<md-dialog>
    <md-toolbar class="md-panel-toolbar">
        <div class="md-toolbar-tools">
            <h3>
                Adicionar tiempoReal
            </h3>
            <span flex=""></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="mdi mdi-close i-24"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <form name="form"
              method="post" action="">
            <div ng-messages="errors.notificacionbundle_notificacion">
                <div ng-repeat="message in errors.notificacionbundle_notificacion" ng-bind="message"></div>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="required">Titulo</label>
                    <input type="text" name="notificacionbundle_notificacion[titulo]"
                           ng-model="entity['notificacionbundle_notificacion[titulo]']" required="required"
                           maxlength="255"/>

                    <div ng-messages="errors.titulo">
                        <div ng-repeat="message in errors.titulo" ng-bind="message"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="required">Contenido</label>
                    <textarea name="notificacionbundle_notificacion[contenido]"
                              ng-model="entity['notificacionbundle_notificacion[contenido]']"
                              required="required"></textarea>

                    <div ng-messages="errors.contenido">
                        <div ng-repeat="message in errors.contenido" ng-bind="message"></div>
                    </div>
                </md-input-container>
            </div>

            <div layout-gt-sm="row" class="md-block" flex-gt-sm>
                <md-chips ng-model="selectedUsers" md-autocomplete-snap
                          md-transform-chip="transformChip($chip)"
                          md-require-match="autocompleteUserRequireMatch">
                    <md-autocomplete
                            ng-model="inputUsers"
                            md-input-name="notificacionbundle_notificacion[users]"
                            md-selected-item="selectedUserItem"
                            md-search-text="searchUserText"
                            md-items="item in queryUserSearch(searchUserText)"
                            md-min-length="2"
                            md-item-text="item.username"
                            placeholder="Search for a user">
                        <span md-highlight-text="searchUserText">{{item.username}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                          <strong>{{$chip.username}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
            </div>
            <div layout-gt-sm="row" class="md-block" flex-gt-sm>
                <md-chips ng-model="selectedRoles" md-autocomplete-snap
                          md-transform-chip="transformRoleChip($chip)"
                          md-require-match="autocompleteRoleRequireMatch">
                    <md-autocomplete
                            ng-model="inputRoles"
                            md-input-name="notificacionbundle_notificacion[roles]"
                            md-selected-item="selectedRoleItem"
                            md-search-text="searchRoleText"
                            md-items="item in queryRoleSearch(searchRoleText)"
                            md-min-length="2"
                            md-item-text="item.nombre"
                            placeholder="Search for a role">
                        <span md-highlight-text="searchRoleText">{{item.nombre}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                          <strong>{{$chip.nombre}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
            </div>

            <div layout-gt-sm="row">
                <input type="hidden" name="notificacionbundle_notificacion[_token]"
                       ng-model="entity['notificacionbundle_notificacion[_token]']"
                       value="luuDe0kTZWBW3f4gxtsfGrLnfi3tveVwuOvmdZrXqVY"/>
            </div>
        </form>
    </md-dialog-content>
    <div class="md-actions">
        <md-button class="md-primary md-raised" ng-disabled="!form.$valid" ng-click="accept()">Aceptar</md-button>
        <md-button class="md-raised" ng-disabled="!form.$valid" ng-click="apply()">Aplicar</md-button>
        <md-button class="md-primary" ng-click="cancel()">Cancelar</md-button>
    </div>
</md-dialog>