<md-dialog style="width: 60%">
    <md-toolbar class="md-panel-toolbar">
        <div class="md-toolbar-tools">
            <h3>
                Enviar notificación
            </h3>
            <span flex=""></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="mdi mdi-close i-24"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <form name="form"
              method="post" action="" enctype="multipart/form-data">
            <div ng-messages="errors.notificacionbundle_notificacionmail">
                <div ng-repeat="message in errors.notificacionbundle_notificacionmail" ng-bind="message"></div>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="required">Título</label>
                    <input type="text" name="notificacionbundle_notificacionmail[titulo]"
                           ng-model="entity['notificacionbundle_notificacionmail[titulo]']" required="required"
                           maxlength="255"/>

                    <div ng-messages="errors.titulo">
                        <div ng-repeat="message in errors.titulo" ng-bind="message"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="required">Contenido</label>
                    <textarea name="notificacionbundle_notificacionmail[contenido]"
                              ng-model="entity['notificacionbundle_notificacionmail[contenido]']"
                              required="required"></textarea>

                    <div ng-messages="errors.contenido">
                        <div ng-repeat="message in errors.contenido" ng-bind="message"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <div flex-gt-sm>
                    <md-chips ng-model="selectedUsers" md-autocomplete-snap
                              md-transform-chip="transformChip($chip)"
                              md-require-match="autocompleteUserRequireMatch">
                        <md-autocomplete
                                ng-model="inputUsers"
                                md-input-name="notificacionbundle_notificacionmail[users]"
                                md-selected-item="selectedUserItem"
                                md-search-text="searchUserText"
                                md-items="item in queryUserSearch(searchUserText)"
                                md-min-length="2"
                                md-item-text="item.username"
                                placeholder="Usuarios">
                            <span md-highlight-text="searchUserText">{{item.username}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                        <span>
                          <strong>{{$chip.username}}</strong>
                        </span>

                        </md-chip-template>
                    </md-chips>
                    <div ng-messages="errors.users">
                        <div ng-repeat="message in errors.users" ng-bind="message"></div>
                    </div>
                </div>
                <div flex-gt-sm>
                    <md-chips ng-model="selectedRoles" md-autocomplete-snap
                              md-transform-chip="transformRoleChip($chip)"
                              md-require-match="autocompleteRoleRequireMatch">
                        <md-autocomplete
                                ng-model="inputRoles"
                                md-input-name="notificacionbundle_notificacionmail[roles]"
                                md-selected-item="selectedRoleItem"
                                md-search-text="searchRoleText"
                                md-items="item in queryRoleSearch(searchRoleText)"
                                md-min-length="2"
                                md-item-text="item.nombre"
                                placeholder="Roles">
                            <span md-highlight-text="searchRoleText">{{item.nombre}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                        <span>
                          <strong>{{$chip.nombre}}</strong>
                        </span>
                        </md-chip-template>
                    </md-chips>
                    <div ng-messages="errors.roles">
                        <div ng-repeat="message in errors.roles" ng-bind="message"></div>
                    </div>
                </div>

            </div>
            <div layout-gt-lg="row" class="md-block">
                <lf-ng-md-file-input lf-files='files'
                                     lf-browse-label="Buscar"
                                     lf-placeholder="Seleccione un archivo">
                </lf-ng-md-file-input>
                <div ng-messages="errors.adjunto">
                    <div ng-repeat="message in errors.adjunto" ng-bind="message"></div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <div class="md-actions">
        <md-button class="md-primary md-raised" ng-disabled="!form.$valid || (selectedRoles.length === 0 && selectedUsers.length === 0)"  ng-click="accept()">Aceptar</md-button>
        <md-button class="md-raised" ng-disabled="!form.$valid || (selectedRoles.length === 0 && selectedUsers.length === 0)" ng-click="apply()">Aplicar</md-button>
        <md-button class="md-primary" ng-click="cancel()">Cancelar</md-button>
    </div>
</md-dialog>