<md-dialog style="width: 60%">
    <md-toolbar class="md-panel-toolbar">
        <div class="md-toolbar-tools">
            <h3>
                Detalles de notificación
            </h3>
            <span flex=""></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="mdi mdi-close i-24"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div>
            <div layout-gt-sm="row">
                <div flex-gt-sm>
                    <label class="required">Fecha</label>
                    <div>
                        <p ng-bind="entity['notificacionbundle_notificacionmail[fecha]']"></p>
                    </div>
                </div>
                <div flex-gt-sm>
                    <label class="required">Autor</label>
                    <div>
                        <p ng-bind="entity['notificacionbundle_notificacionmail[autor]']">
                    </div>
                </div>
                <div class="md-block" flex-gt-sm>
                    <label class="required">Titulo</label>
                    <p ng-bind="entity['notificacionbundle_notificacionmail[titulo]']"></p>
                </div>
            </div>
            <div layout-gt-sm="row">
                <div class="md-block" flex-gt-sm>
                    <label class="required">Contenido</label>
                    <p ng-bind="entity['notificacionbundle_notificacionmail[contenido]']"></p>
                </div>
                <div class="md-block" ng-show="showDivAdjunto" flex-gt-sm>
                    <label class="required">Adjunto</label>
                    <p ng-bind="entity['notificacionbundle_notificacionmail[adjunto]']"></p>
                </div>
            </div>
            <md-chips class="custom-chips" ng-model="entity['notificacionbundle_notificacionmail[users]']" readonly=true>
                <md-chip-template>
                    <span>
                      <strong>{{$chip.username}}</strong>
                      <em>({{$chip.email}})</em>
                    </span>
                </md-chip-template>
            </md-chips>
        </div>
        <div class="md-actions">
            <md-button class="md-primary md-raised" ng-click="cancel()">Cerrar
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>