<md-dialog style="width: 60%">
    <md-toolbar class="md-panel-toolbar">
        <div class="md-toolbar-tools">
            <h3>
                Detalles de notificación
            </h3>
            <span flex=""></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="mdi mdi-close i-24"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <form name="form"
              method="post" action="">
            <div ng-messages="errors.notificacionbundle_bandejaentrada">
                <div ng-repeat="message in errors.notificacionbundle_bandejaentrada" ng-bind="message"></div>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="required">Fecha</label>

                    <div>
                        <input type="text" data-ng-model="entity['notificacionbundle_bandejaentrada[fecha]']" disabled aria-disabled="true">
                    </div>
                    <div ng-messages="errors.fecha">
                        <div ng-repeat="message in errors.fecha" ng-bind="message"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="required">Autor</label>

                    <div>
                        <input type="text" data-ng-model="entity['notificacionbundle_bandejaentrada[autor]']" disabled aria-disabled="true">
                    </div>
                    <div ng-messages="errors.fecha">
                        <div ng-repeat="message in errors.fecha" ng-bind="message"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="required">Titulo</label>
                    <input type="text" name="notificacionbundle_bandejaentrada[titulo]"
                           ng-model="entity['notificacionbundle_bandejaentrada[titulo]']" required="required"
                           maxlength="255"/>

                    <div ng-messages="errors.titulo">
                        <div ng-repeat="message in errors.titulo" ng-bind="message"></div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label class="required">Contenido</label>
                    <textarea name="notificacionbundle_bandejaentrada[contenido]"
                              ng-model="entity['notificacionbundle_bandejaentrada[contenido]']"
                              required="required"></textarea>

                    <div ng-messages="errors.contenido">
                        <div ng-repeat="message in errors.contenido" ng-bind="message"></div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <div class="md-actions">
        <md-button class="md-primary md-raised" ng-disabled="!form.$valid" ng-click="accept()">Aceptar</md-button>
        <md-button class="md-primary" ng-click="cancel()">Cancelar</md-button>
    </div>
</md-dialog>